
.center-block{
	text-align:center;
	align:center;
}
.join-button{
	position:absolute;
	top:100px;
	right:15px;
}
.left-menu{
	height:100%;
	border-right:1px solid red;
}
.right-menu{
	height:100%;
	border-left:1px solid red;
}
.jumbotron{
	margin:0;
}
.row{
	width:100%;
	margin:0;
	padding:0;
}
.container{
	margin:0;
	padding:0;
}
